:root {
    --aside-background-color: #fff;
    --header-background-color: #fff;
    --main-background-color: #f7f9fb;

    --border-color: #d0d7de;
    --text-color: #213547;
    --text-hover-color: #274056;
}

html.dark-mode {
    --aside-background-color: #fff;
    --header-background-color: #fff;
    --main-background-color: #5b5b5e;

    --border-color: #d0d7de;
    --text-color: #213547;
    --text-hover-color: #274056;
}
